div {
  background-color: var(--color-primary-dark);
  display: flex;
  justify-content: stretch;
  padding: var(--spacing-l);
  height: calc(60% - var(--font-size-l) - 2 * var(--spacing-m) - 2px);

  kk-list {
    flex: 1;
  }

  &.horizontal {
    &-reversed {
      flex-direction: row-reverse;

      &#values {
        padding-left: var(--spacing-s);
      }

      &#operators {
        padding-right: var(--spacing-s);
      }
    }

    &#values {
      padding-right: var(--spacing-s);
    }

    &#operators {
      padding-left: var(--spacing-s);
    }
  }

  &.vertical {
    flex-direction: column;

    &-reversed {
      flex-direction: column-reverse;

      &#values {
        padding-top: var(--spacing-s);
      }

      &#operators {
        padding-bottom: var(--spacing-s);
      }
    }

    &#values {
      padding-bottom: var(--spacing-s);
    }

    &#operators {
      padding-top: var(--spacing-s);
    }
  }
}
