:root {
    --default-spacing: 8px;
    --spacing-xs: calc(var(--default-spacing) * 0.1);
    --spacing-s: calc(var(--default-spacing) * 0.5);
    --spacing-m: var(--default-spacing);
    --spacing-l: calc(var(--default-spacing) * 1.5);
    --spacing-xl: calc(var(--default-spacing) * 2);
}
