:root {
    --color-primary: #272727;
    --color-primary-dark: #202124;
    --color-primary-light: #333333;

    --color-accent-1: #3FBA84;
    --color-accent-1-inactive: rgba(63, 186, 132, 0.7);
    --color-accent-1-disable: rgba(63, 186, 132, 0.5);
    --color-accent-2: #263238;
    --color-accent-2-inactive: rgba(38, 50, 56, 0.7);
    --color-accent-2-disable: rgba(38, 50, 56, 0.5);

    --color-text: #FFFFFF;
    --color-text-on-accent-1: #000000;
}
