@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import "variables/_base.variables.css";

:root {
    background: var(--color-primary);
    color: var(--color-text-on-primary);
    font-family: 'Roboto Mono', monospace;
    font-size: var(--font-size-base);
    line-height: var(--line-height);
    font-weight: var(--font-weight-normal);
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
}

*,
::before,
::after {
    box-sizing: border-box;
}
