p {
  margin: 0;
  padding: var(--spacing-m);
  display: flex;
  justify-content: space-between;

  var {
    flex: 0 0 70%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-self: flex-start;
  }

  mark {
    flex: 0 0 20%;
    align-self: flex-end;
    color: var(--color-text-on-accent-1);
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
    cursor: pointer;
    padding: var(--spacing-s);
    background-color: var(--color-accent-1-inactive);
    transition: background-color var(--default-duration) var(--ease-in-out-quint);
    will-change: background-color;

    &:hover {
      background-color: var(--color-accent-1);
    }
  }
}
